
:root{
  --navbar-text-color:#444;
  --navbar-active-text-color: #000;
  --footer-text-color:#444;
  --secondary-text-color: #444;
  --navbar-bg-color:#efefef;
  --resp-navbar-bg-color:#efefef;
  --email:'colinLawrencedev@gmail.com';

  --index-about-color:#efefef;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 16px;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  /* min-height: 3em; */
  height: 48px;
  background-color: var(--navbar-bg-color);
  font-family: 'Poppins', sans-serif;
}

.logo{
  display: block;
  height: 35px;
  position: absolute;
  left: 12px;
  color: #444;
}

.nav-links{
  /* border: 3px solid blue; */
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-around; 
  width: 45%;
}
.nav-links li{
  /* border: 3px solid green; */
  list-style: none;
}
.nav-links a{
  color: var(--navbar-text-color);  
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
}
.nav-links li:hover{
  /* text-decoration: underline; */
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.burger{  
  margin-right: 12px;
  /* border: 3px solid green; */
  display: none;
  
}
.input, #input
{
  background-color: pink;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color:var(--navbar-text-color);
  margin: 5px;
  transition: all 0.3s ease;
}

.name{
  display:block;
  position: absolute;
  left: 60px;
  color: var(--navbar-text-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
nav a {
  color:var(--navbar-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
a.name:hover {
  color:var(--navbar-active-text-color);
  text-decoration: none;
}

nav a:hover {
  color:var(--navbar-active-text-color);
  text-decoration: none;
}
a.name::before {
  background-color: var(--navbar-text-color);
}
nav a::before {
  background-color: var(--navbar-text-color);
}


footer {
  background-color: #efefef;
}
.footer-main-container {
  flex-shrink: 0;
  background-color: #efefef;
  border: solid #efefef 3px;
  font-size: 12px;
  padding-left: 7%;
  padding-right: 7%;
}
.footer-content-container {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
/* social media icons */
.footer-icons {
  display: inline-block;
  text-align: center;
  height: 18px;
  margin: auto;
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  margin-left: 1%;
  margin-right: 1%;
}
/* opacity on icons */
#footer-left-icon::before {
  /* background-color: #444;  */
  opacity: 1;
}
#footer-center-icon::before {
  /* background-color: #444;  */
  opacity: 1;
}
#footer-right-icon::before {
  /* background-color: #444;  */
  opacity: 1;
}
#footer-right-icon:hover {
  /* background-color:#000; */
  opacity: 0.5;
  text-decoration: none;
}
#footer-center-icon:hover {
  /* background-color:#000; */
  opacity: 0.5;
  text-decoration: none;
}
#footer-left-icon:hover {
  /* background-color:#000; */
  opacity: 0.5;
  text-decoration: none;
}
/* end of footer */

/* Content */
#index-content{
  background-image: url("../images/austin.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
    background-size: cover;
}
.headshot{
  width: 433px;
  border-radius: 50%;
}

/* @ tooltip */

.tool-tip {
position: relative;
display: inline-block;
border: none;
color: var(--navbar-text-color);
background-color: transparent;
cursor: pointer;
font-size: 16px;
font-weight: bold;
letter-spacing:3px;
text-transform: uppercase;
text-decoration: none;
} 

.tool-tip-text {
  visibility: hidden;
  width: 320px;
  background-color: #555;
  color: pink;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -60px;
  left: -80%;
  /* right: 50%; */
  /* margin-left: -60px; */
  opacity: 0;
  transition: opacity 0.3s;
}

/* tooltip point */
/* .tool-tip .tool-tip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; 
  border-color: rgb(170, 15, 15) transparent transparent transparent;
} */
.tool-tip:hover .tool-tip-text {
  visibility: visible;
  opacity: 1;
}



#circle{
  border: pink dotted 3px;
  border-radius: 50%;
  z-index: 1;
  background-color: rgb(0, 255, 255, .5);
  /* height: 333px;
  width: 333px; */
}
#about-left{
  padding: 3em 3em 0 3em;
    border: 3px solid purple;
    width:55%;
    position: relative;
    float: left;
}

#about-right{
  padding: 3em;
  border: 3px solid purple;
  width:42%;
  position: relative;
  float: right;
}
#about-me-parent{
  border: 3px solid blue;
  display: inline-block;
  /* height: calc(100vh - 48px);   */
  padding:none;
  margin:none;
}

#about-me-trans-overlay{
  background-color: rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.about-me{
  color: var(--index-about-color);
}
/* photos with white overlay */
.image-wrap {
  position: relative;
  padding: 0;
}
/* this is the portfolio pic */
.slide {
  display: block;
  width: 100%;
  height: 16rem;
  object-fit: cover;
object-position: 50% 50%

}
#portfolio-main-container{
/* border: 3px solid orchid; */
}
.content-subsection{
  /* border: 3px solid purple; */
}
.content-subsection:not(:first-child) {
  margin-top:3em;
}
.project-name  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: white;
  color: #000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-wrap:hover .project-name {
  visibility: visible;
  opacity: 1;
}

.git {
  position: relative;

  bottom:40%;
  padding: 0;
  margin:0;
}
.project-name-git{
    color: #666;
    font-size: 14px;
}

/* skill template inside of PORTFOLIO */
.skill-template{
/* border: 3px solid blue; */
display: grid;
padding: 0;
margin:0;
/* width: 1266px; */
/* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
grid-template-columns: repeat(auto-fit, minmax(15%,  1fr )); 
grid-gap: 1em;
}
.skill-div{
  /* border: solid 3px red;  */

  text-align: center;
   /* background-color: var(--navbar-bg-color); */
   background-color: #efefef;
}
.header{
  margin: .5em;
  text-align: center;
  font-size: 22px;
  /* text-decoration: underline; */
}
/* .node {
  width: 50%;
  color: black;
  text-align: center;
  text-decoration: none;
} */
li{
  text-align: left;
  text-decoration: none;
}

/* PHOTO GALLERY PICS WITH Opacity OVERLAY second batch */
.image-wrap-2 {
  position: relative;
  padding: 0;
}
.image-container {
  display: flex;
}

/* PHOTO GALLERY PICS WITH black OVERLAY third batch */
.image-wrap-3 {
  position: relative;
  padding: 0;
}
.project-name-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: #fff; */
  margin: 0;
  background-color: rgb(0, 0, 0);
  /* opacity: .5; */
  color: #fff;
  visibility: hidden;
  /* transition effect. not necessary */
  /* transition: opacity .2s, visibility .2s; */
  /* text on hover */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-transform: uppercase; */
}

.image-wrap-3:hover .project-name-3 {
  visibility: visible;
}
 
.image-container {
border:3px solid #444;
  margin-left: auto;
  margin-right: auto;
  width: auto;

}
.portrait {  
  display: inline-block;
/* height: auto; 
  margin: auto;*/  
/* width: 100%;  */
} 


/* CONTACT */
#contact-container {
  width: 55%;
  padding: 3rem;
}
.content{
  /* border: 3px solid red; */
  padding: 3rem;
}
.content-subsection:not(:first-child) {
  margin-top:3em;
}
/* PORTFOLIO */
/* #portfolio-main-container{
  border: 3px solid red;
  margin: 3rem;
} */
#portfolio-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
}
/* portfolio image rows*/
/* .portfolio-img-row {
  display: flex;
  justify-content: space-around;
} */

/*////////// burger menu ///////////////*/
.burger {
  display: none;
}
  /* .burger:hover {
    color: #000;
    text-decoration: none;
  } */


/* ////////////////// MEDIA QUERY ////////////////// */
@media screen and (max-width: 1150px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    width: 65%; 
    margin-right: 12px;
  }
.burger:hover {
  text-decoration: none;
  cursor: pointer;
}
.footer-content-container {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
/* MAIN CONTENT */
.content{
  /* padding: 2rem; */
}

/* PORTFOLIO */
 .skill-template{
grid-template-columns: repeat(auto-fit, minmax(25%,  1fr ));
}
.content-subsection:not(:first-child) {
  margin-top:2em;
}
}
@media screen and (max-width:768px){
  /* body{
    overflow-y: hidden;
  } */
nav{
  position: sticky;
    top: 0;
    z-index: 2;
}
  .nav-links{
    /* border: 3px solid pink; */
    margin-right: 0px;
    position: fixed;
    right: 0px;
    z-index: 2;
    height: calc(100vh - 48px); 
    top: 3em;
    width: 65%;
    background-color: var(--resp-navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.8s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    position: absolute;
    right: 1em;
  }

.nav-active{
  transform: translateY(0%)
}
.footer-content-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* MAIN CONTENT */
.content{
  padding: 1.5rem;
}
/* @ INDEX */
#about-left {
  width: 100vw;
}
#about-right {
  width: 100vw;
}
/* PORTFOLIO */
.content-subsection:not(:first-child) {
  margin-top:1.5em;
}
/* .skill-template{
  grid-template-columns: repeat(auto-fit, minmax(20%,  1fr ));
  } */
}
@keyframes navLinkFade{
  from{
opacity: 0;
transform:translateY(50px);
  }
    to{
    opacity:1;
    transform: translateY(0px)
  }
}

.toggle .line-1{
transform: rotate(-45deg) translate(-5px, 6px)
}
.toggle .line-2{
  opacity: 0;
}
.toggle .line-3{
  transform: rotate(45deg) translate(-5px, -6px)
}

