
:root{   
   /* --footer-text-color:#444; */
  /* --navbar-bg-color:#efefef;   */  
  /* --resp-navbar-bg-color:#efefef; */
   /* --footer-text-color:#444; */
   /* --navbar-active-text-color: #000; */
  --navbar-text-color:#444;
  --navbar-active-text-color: #666;
  --secondary-text-color: #444;
    --navbar-text-color:#efefef;
    --footer-text-color:#efefef;  
  --navbar-bg-color:#000;

  --resp-navbar-bg-color:#000;
  /* --email:'colinLawrencedev@gmail.com'; */
    --tooltip-color: pink;
  --index-about-color:#efefef;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 16px;
}
 p{
   margin:0
  }
nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  /* min-height: 3em; */
  height: 48px;
  background-color: var(--navbar-bg-color);
  font-family: 'Poppins', sans-serif;
}

.logo{
  display: block;
  height: 35px;
  position: absolute;
  left: 10px;
  color: #444;
}

.nav-links{
  /* border: 3px solid blue; */
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-around; 
  width: 40%;
}
.nav-links li{
  /* border: 3px solid green; */
  list-style: none;
}
.nav-links a{
  color: var(--navbar-text-color);  
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
}
.nav-links li:hover{
  /* text-decoration: underline; */
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.burger{  
  margin-right: 11px;
  /* border: 3px solid green; */
  display: none;
  
}
.input, #input
{
  background-color: pink;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color:var(--navbar-text-color);
  margin: 5px;
  transition: all 0.3s ease;
}

.name{
  display:block;
  position: absolute;
  left: 50px;
  top: 11px;
  color: var(--navbar-text-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}
nav a , nav button{
  color:var(--navbar-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a::before {
  background-color: var(--navbar-text-color);
}
nav a:hover {
  color:var(--navbar-active-text-color);
  text-decoration: none;
}


a.name::before {
  background-color: var(--navbar-text-color);
}
a.name:hover {
  color:var(--navbar-active-text-color);
  text-decoration: none;
}


nav button:hover {
  color:var(--navbar-active-text-color);
  text-decoration: none;
}

/* .burger:hover {
  background-color:var(--navbar-active-text-color);
  text-decoration: none;
}
.burger::before {
  background-color: var(--navbar-text-color);
} */


footer {
  flex-shrink: 0;
  background-color: var(--resp-navbar-bg-color);
  border: solid var(--resp-navbar-bg-color) 3px;
  font-size: 12px;
  padding-left: 7%;   
  padding-right: 7%; 
  /* border: 3px solid pink; */
}

/* .footer-content-container, .footer-icons{
color: var(--footer-text-color);

} */

.footer-content-container {
  text-align: center;
  color: var(--footer-text-color);
  margin-top: 3rem;
  margin-bottom: 4rem;
}
/* social media icons */
.footer-icons {  
  /* border: 3px solid olive; */
  display: inline-block;
  color: var(--footer-text-color);
  text-align: center;
  height: 18px;
  margin-top: 1em;
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  margin-left: 1%;
  margin-right: 1%;
}
/* opacity on icons */
#footer-left-icon::before {
  /* background-color: #444;  */
  opacity: 1;
}
#footer-center-icon::before {
  /* background-color: #444;  */
  opacity: 1;
}
#footer-right-icon::before {
  /* background-color: #444;  */
  opacity: 1;
}
#footer-right-icon:hover {
  /* background-color:#000; */
  opacity: 0.5;
  text-decoration: none;
}
#footer-center-icon:hover {
  /* background-color:#000; */
  opacity: 0.5;
  text-decoration: none;
}
#footer-left-icon:hover {
  /* background-color:#000; */
  opacity: 0.5;
  text-decoration: none;
}
/* end of footer */

/* Content */
.index-content{
  background-image: url("../images/austin.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: calc(100vh - 48px);    */
}

#about-me-trans-overlay{
  /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(247, 157, 157, 0.55);
    background: linear-gradient(1deg, rgba(141, 95, 95, 0.55) 21%, rgba(5, 50, 65, 0.85) );
  object-fit: cover;
  /* height: calc(100vh - 48px);    */
}

/* #photo-trans-overlay{
background-color: rgba(238, 85, 162, 0.4);
position: relative;
z-index: 2;
} */

/* @ tooltip */
.tool-tip {
position: relative;
display: inline-block;
border: none;
color: var(--navbar-text-color);
background-color: transparent;
cursor: pointer;
font-size: 16px;
font-weight: bold;
letter-spacing:3px;
text-transform: uppercase;
text-decoration: none;
} 

.tool-tip-text {
  visibility: hidden;
  width: 320px;
  background-color: #555;
  color: var(--tooltip-color);
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -60px;
  left: -80%;
  /* right: 50%; */
  /* margin-left: -60px; */
  opacity: 0;
  transition: opacity 0.3s;
}
.tool-tip:hover .tool-tip-text {
  visibility: visible;
  opacity: 1;
}

.tool-tip-text{
 text-transform :lowercase;
letter-spacing: normal;
}

#about-left{
  padding: 7em   0 0 7em;
    /* border: 3px solid purple; */
    width:60%;
    position: relative;
    float: left;
}

#about-right{
  /* border: 3px solid purple; */
  width:40%;
  /* max-height: calc(100vh - 48px);  */
  position: relative;
  float: right;
  padding: 4em 0 4em;

}

.headshot{ 
  display: block; 
  width: 75%;
  margin: 0 auto;
  /* border: 2px #efefef solid; */
  /* border-radius: 50%; */
}
#about-me-parent{
  /* border: 3px solid blue; */
  display: inline-block;
  height: calc(100vh - 48px);  
  padding:none;
  margin:none;
}

.about-me{
  color: var(--index-about-color);
}


/* Deployed Projects Div  */
.content-subsection:not(:first-child) {
  margin-top:3em;
  /* border: 3px solid orchid; */
}

/* PHOTO GALLERY PICS WITH white OVERLAY */
.image-wrap {
  /* border: 3px solid orchid; */
  position: relative;
  /* margin: 2em; */
  /* margin: 10px; */
}
/* this is the portfolio pic */
.project-pic {
  /* border: 3px solid blue; */
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: 50% 50%
}
.project-name  {
  /* border: 3px solid green; */
  height: 15rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: white;
  color: #000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.git {
  /* border: 3px solid purple; */
  width:35px;
  position: relative;
  justify-content: center;
  bottom:0%;
  padding: 0;
  margin:5px 0 0;
}
.image-wrap:hover  .project-name {
  visibility: visible;
  opacity: 1;
}

.octocat-pic:hover {
opacity: .3;
}
.octocat-pic {
  opacity: .6;
  }
/* .octocat-pic::before {
opacity: .1;
} */
/* PORTFOLIO */
/* main skill div */
.content-subsection:first-child {
/* margin-top:3em; */
/* border: 3px solid grey; */
}
/* skill template inside of PORTFOLIO */
.skill-template{
/* border: 3px solid blue; */
display: grid;
padding: 1em;
text-align: center;
width: 80%;
/* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
grid-template-columns: repeat(auto-fit, minmax(15%,  1fr )); 
grid-gap: 1em;
align-self: center;

margin-left: auto;
margin-right: auto 
}

.skill-category-wrapper{
  /* justify-items: center; */
  /* border: solid 3px green;  */
  /* width: 70%; */
  
}

.sub-header{
    border: .5px solid #eeebeb;
    background-color: #efefef;
    margin: .5em;
    text-align: center;
    font-size: 20px;
    /* width:80%; */
   /* font-family: ; */
}

.skill-div{
  /* border: solid 3px red;  */
  text-align: left;
    margin: 0 3em 0 ;
  /* margin: 0 1em ; */
   /* background-color: var(--navbar-bg-color); */
   /* background-color: #efefef; */
}

.header{
  padding: .25em;
  text-align: center;
  font-size: 22px;
  /* text-decoration: underline; */
  border: .5px solid #eeebeb;
  background-color: #efefef;
}

li{
  text-align: left;
  text-decoration: none;
}

/* .image-container {
  border:3px solid #444;
  margin-left: auto;
  margin-right: auto;
  width: auto;
} */
.portrait {  
  display: inline-block;
/* height: auto; 
  margin: auto;*/  
/* width: 100%;  */
} 

/* RESUME */
.main-container-resume{
  display: block;
  text-align: center;
  margin: auto 0;
}
.resume{
  width: 85vw;
  height: 95vh;
  position: relative;
  overflow: none;
  /* border:none; */
}
/* CONTACT */
#contact-container {
  width: 55%;
  padding: 3rem;
}
.content{
  /* border: 3px solid red; */
  padding:4rem 7rem  5rem ;
}


/* PORTFOLIO */
/* #portfolio-main-container{
  border: 3px solid red;
  margin: 3rem;
} */
#portfolio-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  grid-gap: 1em;
}
/* portfolio image rows*/
/* .portfolio-img-row {
  display: flex;
  justify-content: space-around;
} */

/*////////// burger menu ///////////////*/
.burger {
  display: none;
}
  /* .burger:hover {
    color: #000;
    text-decoration: none;
  } */


/* ////////////////// MEDIA QUERY ////////////////// */
@media screen and (max-width: 1150px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    width: 65%; 
    margin-right: 12px;
  }
.burger:hover {
  text-decoration: none;
  cursor: pointer;
}
.footer-content-container {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
/* MAIN CONTENT */
.content{
  padding: 2.5rem 3rem;
}
#about-me-parent{
  height: auto;  
}
#about-left, #about-right {
    width:50%;
}
/* PORTFOLIO */
 .skill-template{
grid-template-columns: 1fr  1fr;
}
.content-subsection:not(:first-child) {
  margin-top:2em;
}

}
@media screen and (max-width:768px){
  /* body{
    overflow-y: hidden;
  } */
nav{
  position: sticky;
    top: 0;
    z-index: 2;
}
  .nav-links{
    /* border: 3px solid pink; */
    margin-right: 0px;
    position: fixed;
    right: 0px;
    z-index: 2;
    height: calc(100vh - 48px); 
    top: 3em;
    width: 65%;
    background-color: var(--resp-navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.8s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    position: absolute;
    right: 9px;
  }

.nav-active{
  transform: translateY(0%)
}
.footer-content-container {
    /* border: 3px solid blue; */
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* MAIN CONTENT */
.content{
  padding: 2em;
}
/* @ INDEX */
#about-me-2{
font-size: 22px;
}

#about-left {
  padding: 4em 4em 0;
  width: 100vw;
}
#about-right {
  width: 100vw;

}
/* PORTFOLIO */
.content-subsection:not(:first-child) {
  margin-top:1.5em;
}
.skill-template{
  grid-template-columns: repeat(auto-fit, minmax(33%,  1fr ));
  width: 85%;
  padding: none;
  }
  .project-pic,  .project-name  {
    height: 20rem;    
  }
  .index-content{
    height: auto;   
  }
}

/* mobile responsive */
@media screen and (max-width: 450px){
  body{
  overflow-x: hidden;
  }  
  .name{
    left: calc(50% - 108px);
    left: auto;
    }
  /* INDEX page */
  #about-left {
  padding: 1.5em 1.5em 0;
  }

  #about-right {
  padding: 1.5em ;
  }
  .headshot {
  width: 100%;
  }
  /* PORTFOLIO page */
 
  .skill-template{
  grid-template-columns: 1fr ;
  width: 90%;
  padding: none;
  }
  .skill-div{
  margin: 0 4em 0 ;
  }  
  #portfolio-image-container {
  grid-gap: 1.25em;
  }
  .git{
  left: calc(50% - 30px);
  }

.project-pic{
  width: calc(100vw - 4em);
  height: 15rem;
  overflow-x: none;
}
}

@keyframes navLinkFade{
  from{
opacity: 0;
transform:translateY(50px);
  }
    to{
    opacity:1;
    transform: translateY(0px)
  }
}

.toggle .line-1{
transform: rotate(-45deg) translate(-5px, 6px)
}
.toggle .line-2{
  opacity: 0;
}
.toggle .line-3{
  transform: rotate(45deg) translate(-5px, -6px)
}

